<h1>{{city}} </h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>

<h1>TP.HCM</h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>

<h1>LonDon </h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>

<h1>New York </h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>

<h1>Tokyo</h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>

<h1>Berlin</h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>
