<h1> {{city}} </h1>
<h3>Nhiệt độ :{{temp}}<sup>o</sup>C</h3>
<h3>Độ Ẩm : {{hump}}%</h3>
<h3>ÁP Suất : {{press}}</h3>
<button  class="btn btn-primary" type="button" (click)="hanoi()">Hà Nội</button>
<button  class="btn btn-warning" type="button" (click)="sg()">TP HCM</button>
<button  class="btn btn-primary" type="button" (click)="tko()">Tokyo</button>
<button  class="btn btn-warning" type="button" (click)="ny()">New York</button>
<button  class="btn btn-primary" type="button" (click)="ld()">London</button>
<button  class="btn btn-warning" type="button" (click)="bl()">Berlin</button>
